/* hero.module.css */

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 120px;
  justify-content: center;
  text-align: center;
  background-color: #fff;
}

.title {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 2rem;
  line-height: 1.5;
  padding: 20px;
  color: #0c094f;
}

.description span {
  font-weight: bold;
  color: #2a865d;
}

.input {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 35px;
  background: linear-gradient(to right, #aecfc1, #738eaf);
  margin-right: 10px;
  width: 300px;
  color: #3e5252;
  background-color: #ccd1db;
}

.joinButton {
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 35px;
  background-color: #062142;
  color: #ebdede;
  cursor: pointer;
}

.joinButton:hover {
  background-color: #a6cea8;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 30px;
}

.iconContainer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4a9977;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s;
}

.iconContainer a:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(110, 126, 161, 0.2);
}

@media (max-width: 768px) {
  .container {
    padding: 50px;
  }

  .title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .subtitle {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .description {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .joinButton {
    width: 100%;
  }
  
  .iconContainer {
    padding: 15px;
  }

  .iconContainer a {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
}
